<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StopWatch</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
   
    <div class="container">
        <nav class="controls">
          <a href="#" class="btn" id="start" >Start</a>
          <a href="#" class="btn" id="stop">Stop</a>
          <a href="#" class="btn" id="reset">Reset</a>        
        </nav>
      <div class="stop-watch">
          <span id="min">00</span>:<span id="second">00</span>:<span id="tens">00</span>
      </div>
      <ul class="result"></ul>
    </div>
  </body>
  <script src="script.js"></script>
</html>
