:root{
    --primary-color: #5fbaa7;

}
* {
    box-sizing: border-box;
}

body{
    background: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    padding: 20px;
}
h1{
    color: var(--primary-color);
}
p{
    text-align: center;
}
.btn{
color: #fff;
cursor: pointer;
background-color: var(--primary-color);
border-radius: 5px;
font-size: 20px;
padding: 5px 12px;
margin-top: 10px;
margin-bottom: 10px;

}
.converter {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.converter select{
    padding: 10px 20px 10px 20px ;
    appearance: none;
    border: 1px solid #dedede;
    border-radius: 5px;
    font-size: 16px;
    background: transparent;
    margin-right: 15px;
    background-position: right 10px top 50%, 0,0;
    background-size: 12px auto, 100%;
    background-repeat: no-repeat;
}
.converter input {
    border: 1px solid #dedede;
    border-radius: 5px;
    font-size: 25px;
    text-align: right;
}
.converter textarea{
    
    border: 1px solid #dedede;
    border-radius: 5px;
    font-size: 16px;
    text-align: right;

}
.converter label{
    padding: 10px 20px 10px 20px;
    appearance: none;
    border: 1px solid #dedede;
    border-radius: 5px;
    font-size: 16px;
    background: transparent;
    text-align: justify;
    margin: 10px 10px 10px ;
}

.swap-converter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.error{
    color: red;
    font-size: 18px;
    padding: 0 10px;
    visibility: show;
}
select:focus,
input:focus,
button:focus{
    outline: 0;
}